/* code {
  white-space: pre-line !important;
  word-wrap: break-word !important;
} */

mjx-container > svg {
  display: inline-block;
  margin: auto;
}

.medium-zoom-overlay {
  z-index: 1000 !important;
}

.medium-zoom-image {
  z-index: 1000 !important;
}

body {
  height: 100vh !important;
}

#app {
  height: 100%;
}


img {
  cursor: pointer;
}

@media print {
  body{
    display:block;
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  header .container .content {
    display: none;
  }

  .VPLocalNav {
    display: none !important;
  }

  .prev-next {
    display: none;
  }
  
  code {
    white-space: pre-line !important;
    word-wrap: break-word !important;
  }
}