code {
  white-space: pre-wrap !important;
}

mjx-container > svg {
  display: inline-block;
  margin: auto;
}

.medium-zoom-overlay {
  z-index: 1000 !important;
}

.medium-zoom-image {
  z-index: 1000 !important;
}
